*{
    margin:0;
    padding:0;
    font-family: "Bangers", serif;
}
body{
    background-color: #056914;
}
header{
    display: flex;
}
header img{
    height: 200px;
}
.pontuação{
    color: white;
    text-align: center;
    margin: 20px auto;
    padding-right: 40px;
}
.row{
    display: flex;
    margin: 5px;
}
.row p{
    margin-right: 17px;
}
.jokenpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.escolha{
    margin-bottom: 30px;
}
.jokenpo img{
    height: 200px;
}
.papel, .pedra, .tesoura{
    background-color: #053D0D;
    padding: 10px;
    width: 250px; /* Largura fixa */
    height: 200px; /* Altura fixa */
    box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
    -web-kit-box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
    -moz-box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
    cursor: pointer;
}
.papel{
    margin-right: 150px;
    margin-left: 100px;
}
.tesoura{
    margin-right: 20px;
    height: 150px;
}
.pedra_gon,.papel_gon,.tesoura_gon{
    margin: 0 100px 30px 100px;
}
.resultado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.resultado_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.resultado img{
    background-color: #053D0D;
    padding: 10px;
    width: 170px; /* Largura fixa */
    height: 200px; /* Altura fixa */
    box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
    -web-kit-box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
    -moz-box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
}

.column{
    color: white;
    display: flex;
    flex-direction: column;
}
.column p{
    margin-left: 70px;
    margin-bottom: 20px;
}
p.left{
    margin-left: 160px;
}

@media (max-width: 600px){
    header img{
        height: 100px;
    }
    .resultado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
    .resultado img{
        background-color: #053D0D;
        padding: 10px;
        width: 100px; /* Largura fixa */
        height: 130px; /* Altura fixa */
        box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
        -web-kit-box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
        -moz-box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
    }
    p.left{
        margin-left: 0px;
    }
    .papel, .pedra, .tesoura{
        background-color: #053D0D;
        padding: 0px;
        width: 100px; /* Largura fixa */
        height: 130px; /* Altura fixa */
        box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
        -web-kit-box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
        -moz-box-shadow: 10px 14px 15px -3px rgba(0, 0,0, 1);
       
    }
    .escolha{
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .papel{
        margin-right: 0px;
        margin-left: 0px;
    }
    .jokenpo img{
        height: 130px;
    }
    .tesoura{
        margin-right: 20px;
        height: 100px;
        width: 100px;
    }
    .imagens{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pedra_gon,.papel_gon,.tesoura_gon{
        margin: 0 0px 0px 0px;
        height: 100px;
        width: 100px;
    }
    .papel_gon{
       margin: 5px;
    }
}